$booking-item-height: 80px;


.booking-item {
  background-color: #fff;
  border: 1px solid $brand-darker-gray;
  margin-bottom: 20px;
  @include clearfix();

  @media screen and (min-width: $screen-sm-min) {
    height: $booking-item-height;
    overflow: hidden;
  }

  h3 {
    font-size: 22px;
    @include center-vertically($booking-item-height, 24px);
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: bold;

    @media screen and (max-width: $screen-xs-max) {
      font-size: 18px;
    }
  }

  .booking-item-actions {
    padding: 0;
    height: $booking-item-height;

    * {
      float: right;
      line-height: $booking-item-height;
    }

    .btn {
      height: 100%;
      font-size: 20px;
      font-weight: bold;
      padding: 0;
      border: none;
      color: #fff;

      span {
        padding: 0 25px 0;
      }

      &:hover {
        span {
          &.bg-red {
            background-color: lighten($brand-red, 10%);;
          }
          &.bg-blue {
            background-color: lighten($brand-blue, 10%);;
          }
        }
      }
      @media screen and (max-width: $screen-sm-max) {
        span {
          padding: 0 10px 0;
        }

        font-size: 16px;
      }

      @media screen and (max-width: $screen-xs-max) {
        width: 100%;

        span {
          display: inline-block;
          width: 50%;
        }
      }

    }

    i {
      padding-right: 20px;
      font-size: 16px;
      color: #393939;
      font-weight: 600;

      @media screen and (max-width: $screen-sm-max) {
        padding: 0 15px 0;
        font-size: 14px;
      }
    }
  }
}