.select-navigation {
  padding: 20px 0;
  @include custom-select(#fff, 55px, $brand-text-gray, $brand-text-gray);

  h4 {
    margin-top: 20px;
  }

  .select {
    select {
      border: 3px solid $brand-orange;
    }
  }

  &.fixed-top {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;
  }
}