.bg-red {
  background-color: $brand-red;
}

.bg-yellow {
  background-color: $brand-yellow;
}

.bg-green {
  background-color: $brand-lighter-green;
}

.bg-blue {
  background-color: $brand-blue;
}

.bg-darker-gray {
  background-color: $brand-darker-gray;
}

.text-orange {
  color: $brand-orange;
}

body {
  overflow-x: hidden;
}