.bg-red {
  background-color: $brand-red;
}

.bg-yellow {
  background-color: $brand-yellow;
}

.bg-green {
  background-color: $brand-lighter-green;
}

.bg-blue {
  background-color: $brand-blue;
}

.bg-darker-gray {
  background-color: $brand-darker-gray;
}

.text-orange {
  color: $brand-orange;
}

body {
  overflow-x: hidden;
}

p {
  font-size: 15px;
  line-height: 28px;
}

.content-section {
  padding: 40px 0;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: 400;
}