.bg-red {
  background-color: $brand-red;
}

.bg-yellow {
  background-color: $brand-yellow;
}

.bg-orange {
  background-color: $brand-orange;
}

.bg-green {
  background-color: $brand-lighter-green;
}

.bg-blue {
  background-color: $brand-blue;
}

.bg-darker-gray {
  background-color: $brand-darker-gray;
}

.bg-black {
  background-color: $brand-black;
}

.text-orange {
  color: $brand-orange;
}

body {
  overflow-x: hidden;
}

p {
  font-size: 15px;
  line-height: 28px;
}

.content-section {
  padding: 40px 0;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: 400;
}

#return-to-top {
  padding: 0 5px;
  background-color: #fff;
  position: fixed;
  bottom: 20%;
  right: 0;
  z-index: 1000;

  a {
    color: #b7b7b7;
  }
}