footer {
  color: #6a6969;
  background-color: #252525;

  @include custom-link(#42b8dd);

  @media screen and (max-width: $screen-xs-max) {
    ul {
      li {
        display: block!important;
      }
    }
  }
}